.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 500px;
  min-width: 100vw;
}

.h2 {
  font-size: medium;
  padding: 5%;
}

.form__button {
  background-color: var(--color-nemo);
  color: var(--color-foam);
  padding: 4%, 10%, 4%, 10%;
  margin-top: 7%;
  border-radius: 5%;
  font-size: medium;
  font-weight: 900;
  border: none;
}
